s2axis-examples/src/server/org/seasar/remoting/axis/examples/ex05/magazine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.seasar.org/axis/examples/ex05" xmlns:impl="http://www.seasar.org/axis/examples/ex05" xmlns:intf="http://www.seasar.org/axis/examples/ex05" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDLはApache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT))-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.seasar.org/axis/examples/ex05">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Model">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfModel">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Model[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getModelsResponse">

      <wsdl:part name="getModelsReturn" type="impl:ArrayOfModel"/>

   </wsdl:message>

   <wsdl:message name="getTitleRequest">

   </wsdl:message>

   <wsdl:message name="getModelsRequest">

   </wsdl:message>

   <wsdl:message name="getTitleResponse">

      <wsdl:part name="getTitleReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Magazine">

      <wsdl:operation name="getTitle">

         <wsdl:input name="getTitleRequest" message="impl:getTitleRequest"/>

         <wsdl:output name="getTitleResponse" message="impl:getTitleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModels">

         <wsdl:input name="getModelsRequest" message="impl:getModelsRequest"/>

         <wsdl:output name="getModelsResponse" message="impl:getModelsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MagazineSoapBinding" type="impl:Magazine">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTitle">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTitleRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.seasar.org/axis/examples/ex05"/>

         </wsdl:input>

         <wsdl:output name="getTitleResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.seasar.org/axis/examples/ex05"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModels">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.seasar.org/axis/examples/ex05"/>

         </wsdl:input>

         <wsdl:output name="getModelsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.seasar.org/axis/examples/ex05"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MagazineService">

      <wsdl:port name="Magazine" binding="impl:MagazineSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/s2axis-examples/services/Magazine"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
